<%include ./partials/pre-top.ejs %>

<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css">
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/allCourse.js"></script>

<%include ./partials/top.ejs %>
	<div class="table-responsive">
		<table class="dataTable table table-hover table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th></th>
					<th class="text-nowrap">Course Code</th>
					<th>Name</th>
					<th style="min-width: 15ch;">LTPC </th>
					<th>Tags</th>
					<th>Document</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

				<% courses.forEach(function(obj, index){ %>
					<tr>
						<td></td>
						<td><%= obj.courseCode %></td>
						<td><%= obj.courseName%></td>
						<td><%= obj.ltpc %></td>
						<td>
							<% for(var i=0; i < obj.tags.length; i++) { %>
								<span class="badge badge-secondary"> <%= obj.tags[i] %> </span>
							<% } %>
						</td>
						<td>
						<% if(obj.filename !== '#') { %>
							<a href="/static/pdf/<%= obj.filename %>" class="btn btn-info btn-sm" role="button">PDF</a>
						<% } else { %>
							No file present
						<% } %>
						</td>
						<td>
							<a href="/edit/editCourse/<%= obj.courseCode %>" class="btn btn-primary btn-sm" role="button">edit</a>
						</td>
					</tr>
				<% }); %>

			</tbody>
		</table>
	</div>
<%include ./partials/bottom.ejs %>
