<%include ./partials/top.ejs %>
	<div class="table-responsive">
		<table class="table table-hover table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th class="text-nowrap">Course Code</th>
					<th>Name</th>
					<th>Credit</th>
					<th>Tags</th>
					<th>Document</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

				<% courses.forEach(function(obj, index){ %>
					<tr>
							<th><%= index %></th>
							<td><%= obj.courseCode %></td>
							<td><%= obj.courseName%></td>
							<td><%= obj.credit %></td>
							<td>
								<% for(var i=0; i < obj.tags.length; i++) { %>
									<span class="badge badge-secondary"> <%= obj.tags[i] %> </span>
								<% } %>
							</td>
							<td>
							<% if(obj.filename !== '#') { %>
								<a href="/static/pdf/<%= obj.filename %>">pdf file</a>
							<% } else { %>
								No file present
							<% } %>
							</td>
							<td><a href="/edit/editCourse/<%= obj.courseCode %>">edit</a></td>
					</tr>
				<% }); %>

			</tbody>
		</table>
	</div>
<%include ./partials/bottom.ejs %>
