<%include ./partials/pre-top.ejs %>

<link rel="stylesheet" href="/static/css/datatables.min.css">
<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script src="/static/js/allCourse.js"></script>

<%include ./partials/top.ejs %>
<div class="table-responsive">
		<table class="dataTable table table-hover table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th></th>
					<th class="text-nowrap">Tag Name</th>
					<th>Course List</th>
					<th>Action</th>
					<th class="deleteCol">Action</th>
				</tr>
			</thead>
			<tbody>
				<% tagList.forEach(function(obj, index){ %>
					<tr>
							<th></th>
							<td><%= obj.name %></td>
							<td>
								<% for(var i=0; i < obj.courseList.length; i++) { %>
									<span class="badge badge-secondary"> <%= obj.courseList[i] %> </span>
								<% } %>
							</td>
							<td>
								<a href="/edit/editTag/<%= obj.name %>" class="btn btn-primary btn-sm" role="button">edit</a>
							</td>
							<td>
								<button delres="/edit/deleteTag/<%= obj.name %>" objID="<%= obj._id%>" class="btn btn-danger btn-sm delete-btn">Delete</button>
							</td>
					</tr>
				<% }); %>

			</tbody>
		</table>
	</div>
<%include ./partials/bottom.ejs %>
