<%include ./partials/pre-top.ejs %>

<link rel="stylesheet" href="/static/css/multi-select.css">
<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/jquery.quicksearch.js"></script>
<script src="/static/js/jquery.multi-select.js"></script>
<script src="/static/js/addPg.js"></script>
<style>
	.multiselect-footer {
		color: white;
		background-color: black;
		text-align: center;
	}
	.search-input {
		width: -webkit-fill-available;
	}
	#select-all, #deselect-all {
		margin-top: 10px;
		margin-right: 110px;
	}
</style>

<%include ./partials/top.ejs %>

		<form action="/edit/editCourse" method="POST" enctype="multipart/form-data">
			<input type="submit" disabled aria-hidden="true" hidden>
			<!-- "disabled first submit button" to disable submit by pressing enter-->

			<input type="text" name="objID" value="<%= course._id %>" hidden aria-hidden="true">

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Course Code</label>
				<div class="col-sm-9">
					<input type="text" name="code" class="form-control" value="<%= course.courseCode %>" required>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Course Name</label>
				<div class="col-sm-9">
					<input type="text" name="name" class="form-control" value="<%= course.courseName %>" required>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">LTPC</label>
				<div class="col-sm-9">
					<input type="text" name="ltpc" class="form-control" value="<%= course.ltpc %>" required>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-3">Categories</div>
				<div class="col-sm-9">
					<% if(tagList && tagList.length) { %>
						<select id='searchable-tagSelector' name="tags[]" multiple='multiple'
							currentSelected="<%= JSON.stringify(course.tags) %>"
						>
							<% tagList.forEach(function(tagname, index) { %>
								<option value="<%= tagname %>"><%= tagname %></option>
							<% }); %>
						</select>

						<a href='#' id='select-all'>select all</a>
						<a href='#' id='deselect-all'>deselect all</a>
					<% } else { %>
						No Tags registered. Please add Tags.
					<% } %>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Course details PDF</label>
				<input type="file" name="x-file-upload" class="form-control-file col-sm-9">
			</div>

			<div class="form-group row">
				<div class="col-sm-9">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>

		</form>
		
		<form action="/edit/deleteCourse/<%= course.courseCode %>" method="POST">
			<input type="submit" disabled aria-hidden="true" hidden>
			<!-- "disabled first submit button" to disable submit by pressing enter-->
			
			<div class="form-group row">
				<div class="col-sm-9">
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</form>
		

<%include ./partials/bottom.ejs %>
